#__next,
.root {
    --arrière-plan-principale: rgb(255, 255, 255); /*Blanc*/
    --arrière-plan-secondaire: rgb(217, 220, 221);
    --bleu-clair: #036ba1;
    --noir: rgba(0, 0, 0, 0.5);
    --gris: rgb(217, 220, 221);
    --mauve: rgb(224, 38, 137);
    --mauve-hover: rgb(224, 38, 137, .5)
}
html,
body {
    width: 100%;
    height: 100%;
}
main {
    background-color: #eeeeee;
}

@media screen and (max-width: 780px) {
    #comboboxInput {
        width: 200px;
    }
    #navBar {
        visibility: hidden;
        position: absolute;
    }
    #iconFavoris {
        visibility: hidden;
        position: absolute;
    }
    #flexNavBar {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #iconFavoris2 {
        margin-right: auto;
    }

    /* #animateWidth {
        width: 150px;
        z-index: 1;
    } */
}
@media screen and (min-width: 780px) {
    #comboboxInput {
        width: 300px;
    }
    #iconFavoris2 {
        visibility: hidden;
        position: absolute;
    }
    #divNavBar {
        margin-left: auto;
    }
    #flexNavBar {
        margin-right: 15%;
        margin-left: 15%;
    }
    #ppp {
        flex: 1;
        justify-content: center;
    }
    /* #animateWidth {
        width: 15%;
        z-index: 1;
    } */
}
/* 
@media screen and (min-width: 780px) {
    #afficheFavoris {
        visibility: visible;
    }
} */

@media screen and (max-width: 390.5px) {
    #appDiv {
        width: 100%;
        height: 130vh;
        background-color: var(--gris);
    }
}
@media screen and (min-width: 390.5px) {
    #appDiv {
        width: 100%;
        height: 140vh;
        padding-bottom: 5vh;
    }
}

@media screen and (max-width: 500px) {
    #imageLogo {
        width: 30%;
        object-fit: contain;
    }
    #comboboxInput {
        width: 160px;
    }
}
@media screen and (min-width: 500px) {
    #imageLogo {
        width: 100px;
    }
}
