.button {
    padding-bottom: 1%;
    margin-left: 5%;
}

.buttonClic {
    color: var(--arrière-plan-principale);
    background-color: var(--mauve);
    border-radius: 5px;
}

.buttonNonClic {
    color: var(--bleu-clair);
    background-color: var(--arrière-plan-principale);

    &:hover {
        background-color: var(--mauve-hover);
        color: var(--arrière-plan-principale);
    }
}